# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/view/node_modules
/server/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/view/build

# misc
/view/.DS_Store
/view/.env.local
/view/.env.development.local
/view/.env.test.local
/view/.env.production.local

/server/.DS_Store
/server/.env.local
/server/.env.development.local
/server/.env.test.local
/server/.env.production.local

/view/npm-debug.log*
/view/yarn-debug.log*
/view/yarn-error.log*

/view/.env
/server/.env

/view/package-lock.json
/server/package-lock.json

/.generate-file-trees.sh