.container{
    width:100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-color);
    
}
.board{
    width:fit-content
}
.container .board .column {
    display: flex;
    width: fit-content;
}
.board[data-canplay='true']  .cell:hover{
    background-color: var(--secondary-color);
}
.cell{
    padding:2px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width:5rem;
    height: 5rem;
}

.vr-line{
    border-radius: 25px;
    background-color: hsl(0, 0%, 90%);
    height: calc(inherit - 200rem);
    width:2px;
}
.hr-line{
    background-color:  hsl(0, 0%, 90%);
    height: 3px;
    border-radius: 25px;

}
.cell svg{width: 100%;height: 100%;}
.cell svg rect{
    fill:hsl(0, 70%, 65%);
}
