.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-color);
}
.board {
  width: fit-content;
}
.container .board .column {
  display: flex;
  width: fit-content;
}

.cell {
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
}
.cell[data-canclick='true']{
    cursor: pointer;
    
}
.cell[data-canclick='true']:hover{
background-color: var(--secondary-color);
}
.vr-line {
  border-radius: 25px;
  background-color: hsl(0, 0%, 90%);
  height: calc(inherit - 200rem);
  width: 2px;
}
.hr-line {
  background-color: hsl(0, 0%, 90%);
  height: 3px;
  border-radius: 25px;
}
.cell svg {
  width: 100%;
  height: 100%;
}
.cell svg rect {
  fill: hsl(0, 70%, 65%);
}
.player-waiting-container,
.winner-banner-container {
  background-color: hsla(0, 0%, 100%, 0.2);
  position: absolute;
  height:100vh;
  width:100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.player-waiting-wrapper,
.winner-banner-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.winner-banner-wrapper h1 {
  font-size: 3.5rem;
  font-family: "game-font-bold";
  font-weight: bold;
  letter-spacing: 1px;
}
.player-waiting-wrapper h1 {
  font-size: 1.7rem;
  font-family: "game-font-bold";
  font-weight: bold;
  letter-spacing: 1px;
  color: hsl(
    var(--primary-color-hue),
    var(--primary-color-sat),
    calc(var(--primary-color-lit) + 8%)
  );
}
.player-waiting-wrapper h3 {
  margin-top: 3rem;
  letter-spacing: 0px;
  color: #ffff;
}
